body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

#taskInput, #searchInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 12px;
    background: #eaeaea;
    margin-top: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: green;
    font-weight: bold;
}

.removeBtn {
    background: red;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
